@*This test is with an embedded Internet address.  Doesn't work for some sites, like Yahoo or Reddit.*@

@page "/browsercontroltest1"

<h3>BrowserControlTest1</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/oJYGSy6fRic" frameborder="0" allowfullscreen></iframe>

@code {

}
